<div class="row">
    <div class="col-xl-10">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <app-header></app-header>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div *ngIf="messages !== '' " class="alert alert-dismissible fade show" [ngClass]="class" role="alert">
            {{ messages }}.
            <a href="#" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span> </a>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block">
                    <h5 class="section-title">Payments</h5>
                    <!-- <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p> -->
                </div>
                <div class="tab-regular">
                    <ul class="nav nav-tabs" id="myTab7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pay-vertical-tab" data-toggle="tab" href="#pay-vertical" role="tab" aria-controls="pay" aria-selected="true">My Payments</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                        <div class="tab-pane fade show active" id="pay-vertical" role="tabpanel" aria-labelledby="pay-vertical-tab">
                            
                            <div class="card">
                                <h5 class="card-header">Payments</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Remaining</th>
                                                    <th class="border-0">Interest</th>
                                                    <th class="border-0">To Pay</th>
                                                    <th class="border-0">Date Limit</th>
                                                    <th class="border-0">Borrowed at</th>
                                                    <th class="border-0">Category</th>
                                                    <th class="border-0">Borrowed Amount</th>
                                                    <th class="border-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let payment of list_payments| paginate
                                                : { 
                                                    itemsPerPage: tableSize,
                                                    currentPage: page,
                                                    totalItems: count
                                                    };,let i=index">
                                                    <td>{{ payment.remaining_amount | number : '1.2' }}</td>
                                                    <td>{{ payment.interest | number : '1.2' }}</td>
                                                    <td>{{ payment.paid_amount | number : '1.2' }}</td>
                                                    <td>{{ payment.dateLimit }}</td>
                                                    <td>{{ payment.creation_date }}</td>
                                                    <td>{{ payment.financialService.category }}</td>
                                                    <td>{{ payment.financialService.amount | number : '1.2' }}</td>
                                                    <td>
                                                        <button disabled 
                                                         class="btn btn-success btn-sm" *ngIf="payment.paid_at">
                                                            <i class=" fas fa-check"></i> paid
                                                        </button>
                                                        <button data-toggle="modal" *ngIf="!payment.paid_at" (click)="payLoan(payment)" class="btn btn-primary btn-sm">Start pay</button>
                                                    </td>
                                                    <!-- <app-pay-modal [payment]="payment" (update_data)="onActualize($event)"></app-pay-modal> -->
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                                <!-- ============================================================== -->
                                <!-- end flush list -->
                                <!-- ============================================================== -->
                                <div class="card-footer">
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls
                                          previousLabel="Prev"
                                          nextLabel="Next"
                                          (pageChange)="onTableDataChange($event)"
                                        >
                                        </pagination-controls>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- sidebar nav  -->
    <!-- ============================================================== -->
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        <app-menu></app-menu>
    </div>
    <!-- ============================================================== -->
    <!-- end sidebar nav  -->
    <!-- ============================================================== -->
</div>
