<div class="card">
    <!-- <h5 class="card-header">Slides with Controls</h5> -->
    <div class="card-body">
        
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                
                <div class="row">
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        
                        <app-carrousel></app-carrousel>

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-center"> Finance Services</h2>
                </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <!-- <app-card *ngFor="let financial_services of list_financial_services" [financial_services]="financial_services"> -->
                                <app-card *ngFor="let financial_services of list_financial_services | paginate
                                : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                    };" [financial_services]="financial_services" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                                    
                                </app-card>
                            <!-- </app-card> -->
                        </div>
                        
                    </div>
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="d-flex justify-content-center">
                            <pagination-controls
                              previousLabel="Prev"
                              nextLabel="Next"
                              (pageChange)="onTableDataChange($event)"
                            >
                            </pagination-controls>
                          </div>
                    </div>
                </div>

                <div class="row mt-5"><div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-center mb-3"> Blog</h2>
                </div></div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card-columns">

                            <app-forum-c  *ngFor="let post of list_forums |  slice:0:3;" [forum]="post"></app-forum-c>      

                        </div>
                      
                        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <a class="btn btn-primary"[routerLink]="['/blog']">Show More</a>
                        </div>
                    </div> 
                </div>

                <div class="row mt-5"> 
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <app-about></app-about>
                    </div>
                </div>
            

                <div class="row mt-5" id="contact"> 
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <app-contact></app-contact> 
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                <app-landing-sidebar [title]="sideTitle" (requested)="show_specific_fs($event)"></app-landing-sidebar>
            </div>
        </div>

    </div>
</div>