<div class="card" id="align">
    <h2 class="card-header text-center">About Us</h2>
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-body">
            CoinsXspeed is a microfinance application designed as a service to enable low-income people to obtain the necessary loans for their daily needs.

            It also offers credit cards used online to perform all kinds of transactions not only on the application but also on other applications.
            
            To do this, customers must first have a user account that automatically gives rise to a bank account once the registration is validated; then the customer becomes a member of the system; from then on he can subscribe to a service either a loan or a credit card knowing that his credit file or his ability to financial management is approved beforehand through answers to the bank scoring form that he agrees to provide to the administrators of the system, his data will be processed and the answer in case of approval will be sent to him by Mail or SMS with his product and the details of his refund. Otherwise, he will have to review his files and information to make them more credible, even after the service has been rendered, this review will continue and he may be less protected.
            
            Moreover, if the client does not respect the constraints imposed on his service consumption, especially with unpaid or partially paid loans or even late payments, the potential client should be satisfied with a limited service with a high interest rate.
            In case of persistence of this attitude he will see his account blocked preventing any transactions, and when he can be banned from the system or the need to be rigorous in the matter.
            
            Finally, the CoinsXspeed application has been realized within an integration and development project by a group named Horizure made up of 5 members.
            For more information please contact us using the form below.
            
    </blockquote>
    </div>
</div>