<div class="card" id="align">
    <h2 class="card-header text-center">About Us</h2>
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-body">
        <p>CoinsXspeed est une application de microfinance destinée sous forme de service de permettre à des personnes à 
            revenus faibles de se procurer des umprunts nécéssaires pour leur besoins quotidiens.
        </p>
        <p>Elle offre également des cartes de crédits utilisé en ligne pour effectuer toutes sorte de transactions
            non seulement sur la l'application mais également sur d'autres applications.                                </p>
        <p>Pour ce faire les clients doivent d'abord disposer d'un compte utilisateur qui donne lieu 
            automatiquement à un compte bancaire une fois l'inscription validée; 
            par la suite le client devient membre du système; 
            Dès alors il peut souscrire à un service soit un Pret ou à une carte de credit sachant que son dossier de crédit 
            ou son habilité à la gestion financière soit approuvé au préalable à travers des réponses au formulaire
            de scoring bancaire qu'il accepte de fournir aux administrateurs du système, ses données seront traitées et 
            la réponse en cas d'approbation lui sera envoyé par Mail ou SMS avec son produit et les détails de son remboursement.
            Dans le cas contaire il devra revoir ses dossiers et informations pour les rendre beaucoup plus crédibles, meme après que le service lui soit rendu
            cette étude continue, d'ou le risque d'etre moins prévilégé.
        </p>
        <p>Par ailleurs, si il s'avère que le client ne respect pas les contraintes imposées dans sa consommation de service notamment avec les umprunts non réglés ou 
            partiellement réglés ou meme en retard; Le potentiel client devrait se contenter d'un service restreint avec un taux d'intérets élévé.
            <br/>  En cas de persistance de cette attitude il verra son compte bloqué empechant ainsi toutes transactions, et quand à lui il peut etre bannir du système d'ou la nécéssisté d'etre rigoureux en la matiére.
        </p>
        <p>Enfin, l'application CoinsXspeed a été réaliser au sein d'un projet d'intégration et de developpement par un groupe du nom
            <strong><em>Horizure</em></strong> constitué de <em>5</em> membres. <br/> Pour plus d'information veiller nous contacter dans le formulaire en bas.
            
        </p>
    </blockquote>
    </div>
</div>