<!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <app-header [homeOrdashboardLink]="dashboardLink" 
        [notificationLink]="notificationAdminLink"
        [profileLink]="profileAdminLink"
        [redirectingLink]="redirectingAdminLink"></app-header>
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div [ngStyle]="{'display':hasSideBar == true ? 'bloc' : 'none' }">
            <app-sidebar ></app-sidebar>
        </div>
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" [ngClass]="{'admin-wrapper':hasSideBar }">
            <div class="dashboard-finance">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    
                    <!-- ============================================================== -->
                    <router-outlet></router-outlet>
                </div>
            </div> 
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <app-footer></app-footer>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->