<div class="card cardauth">
    <div class="card-header text-center"><h1>CoinsXspeed</h1>
        <span class="splash-description">Please enter your email.</span></div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <input class="form-control form-control-lg" id="email" type="email" placeholder="Email" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send me</button>
        </form>
    </div>
    <div class="card-footer bg-white p-0  ">
        <div class="card-footer-item card-footer-item-bordered">
            <a routerLink="/auth/login" class="footer-link">Back to Login</a>
        </div>
    </div>
</div>