<div class="row">
    <div class="col-xl-10">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <app-header></app-header>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div *ngIf="messages !== '' " class="alert alert-dismissible fade show" [ngClass]="class" role="alert">
            {{ messages }}.
            <a href="#" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span> </a>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block">
                    <h5 class="section-title">Transactions</h5>
                    <!-- <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p> -->
                </div>
                <div class="tab-regular">
                    <ul class="nav nav-tabs" id="myTab7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="transac-vertical-tab" data-toggle="tab" href="#transac-vertical" role="tab" aria-controls="transac" aria-selected="true">My Transactions</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                        <div class="tab-pane fade show active" id="transac-vertical" role="tabpanel" aria-labelledby="transac-vertical-tab">
                            
                            <div class="card">
                                <h5 class="card-header">Transactions</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Type</th>
                                                    <th class="border-0">Amount</th>
                                                    <th class="border-0">Date</th>
                                                    <th class="border-0">Account Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let transaction of listTransactions| paginate
                                                : { 
                                                    itemsPerPage: tableSize,
                                                    currentPage: page,
                                                    totalItems: count
                                                    };,let i=index">
                                                    <td>{{ transaction.type }}</td>
                                                    <td>{{ transaction.amont | number : '1.2' }}</td>
                                                    <td>{{ transaction.created_at }}</td>
                                                    <td>{{account_number}}</td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                                <!-- ============================================================== -->
                                <!-- end flush list -->
                                <!-- ============================================================== -->
                                <div class="card-footer">
                                    <div class="card-footer">
                                        <div class="d-flex justify-content-center">
                                            <pagination-controls
                                              previousLabel="Prev"
                                              nextLabel="Next"
                                              (pageChange)="onTableDataChange($event)"
                                            >
                                            </pagination-controls>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- ============================================================== -->
    <!-- sidebar nav  -->
    <!-- ============================================================== -->
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        <app-menu></app-menu>
    </div>
    <!-- ============================================================== -->
    <!-- end sidebar nav  -->
    <!-- ============================================================== -->
</div>
