<!-- pageheader  -->
<!-- ============================================================== -->
<app-page-header [title]="pageTitle"></app-page-header>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="card">
    <h5 class="card-header">
      <span style="margin-right: 30px">Add Form for Scoring</span>
    </h5>
  
    <div class="card-body">
      <form #form="ngForm" novalidate>
        <!-- {{form.value | json}} -->
        
        <div class="form-group row">
          <label class="col-12 col-sm-3 col-form-label text-sm-right" for="title">Type</label>
          <div class="col-12 col-sm-8 col-lg-6">
            <select class="form-control" [class.is-invalid]="type.invalid && type.touched" name="type" #type="ngModel" required [(ngModel)]="notification.type">
              <option value="REMINDER">REMINDER</option>
              <option value="CONFIRMATION">CONFIRMATION</option>
              <option value="CONTACT">CONTACT</option>
              </select>
              <div *ngIf="type.errors && (type.valid || type.touched)">
                <p class="text-danger" *ngIf="type.errors.required">Please select type!</p>
              </div>
          </div>
          
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-3 col-form-label text-sm-right" for="select">Client</label>
          <div class="col-12 col-sm-8 col-lg-6">
            <select 
            class="form-control #select form-control-md"
            name="idUser"
            (blur)="validateTopic(userName.value)"
            (change)="validateTopic(userName.value)"
            #userName="ngModel"
            [(ngModel)]="notification.user.userId"
            required
            [class.is-invalid]="hasError && userName.touched"
          >
            <option value="default">Select Client</option>
            <option *ngFor="let client of listClients" [value]="client.userId">
              {{ client.userName }} | {{ client.email }}
            </option>
          </select>
          </div>
          
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-3 col-form-label text-sm-right" for="title">Object</label>
          <div class="col-12 col-sm-8 col-lg-6">
            <input class="form-control" [class.is-invalid]="object.invalid && object.touched"
            class="form-control"
            name="object"
            placeholder="Object..."
            #object="ngModel"
            [(ngModel)]="notification.object" 
            required
            />
            <div *ngIf="object.errors && (object.valid || object.touched)">
              <p class="text-danger" *ngIf="object.errors.required">Please type object!</p>
            </div>
        </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="content">Message</label>
            <div class="col-12 col-sm-8 col-lg-6">
              <textarea class="form-control" [class.is-invalid]="content.invalid && content.touched"
              class="form-control"
              name="content"
              placeholder="Content..."
              #content="ngModel"
              [(ngModel)]="notification.message"
              required
              ></textarea>
              <div *ngIf="content.errors && (content.valid || content.touched)">
                <p class="text-danger" *ngIf="content.errors.required">Please type message!</p>
              </div>
          </div>
          </div>
        <button
          [disabled]="form.form.invalid"
          type="button"
          class="btn btn-primary btn-sm" (click)="onaddNotification(form)"
        >
          Save changes
        </button>
      </form>
    </div>
    <div class="card-footer">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a [routerLink]="baseLink + 'list-all'" class="btn btn-primary btn-sm">
          <i class="fas fa-backward"></i> Back to list</a
        >
      </div>
    </div>
  </div>