<!-- pageheader  -->
<!-- ============================================================== -->
<app-page-header [title]="pageTitle"></app-page-header>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="card">
    <h5 class="card-header"><span style="margin-right: 30px;">Add Post</span>
        
    </h5>
    <div class="card-body border-top" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

      </div>
    
    <div class="card-body ">
        <form novalidate #form="ngForm">
            <div class="form-group row">
                <label class="col-md-2 control-label">Category</label>
                <div class="col-md-10">
                    <select class="form-control"  #type="ngModel"
                    [(ngModel)]="  noFinancialService.category">
                        <option value="PROFESSIONALFORMATION" selected="selected">PROFESSIONALFORMATION</option>
                        <option value="FINANCIALEDUCATION" >FINANCIALEDUCATION</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label">Activity</label>
                <div class="col-md-10">
                    <select class="form-control" #act="ngModel"
                    [(ngModel)]="noFinancialService.activityType">
                        <option value="BUSINESS" selected="selected">BUSINESS</option>
                        <option value="HEALTH" >HEALTH</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label">Content Type</label>
                <div class="col-md-10">
                    <select class="form-control" #cont="ngModel" [(ngModel)]="noFinancialService.contentType" >
                        <option value="TEXT" selected="selected">TEXT</option>
                        <option value="VIDEOS" >VIDEOS</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label" for="">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="" placeholder="Title ..." id="">
                </div>
                
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label" for="">Slug</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="" placeholder="Slug ..." id="">
                </div>
                
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label" for="">Image</label>
                <div class="col-md-10">
                    <input #img="ngModel"   [(ngModel)]=" noFinancialService.image"  type="file" class="form-control" name="" placeholder="Image ..." id="">
                   
                    
          </div>
          
 
                </div>
                
            
            <div class="form-group row">
                <label class="col-md-2 control-label" for="">Published</label>
                <div class="col-md-10">
                    <div class="switch-button switch-button-success">
                        <input type="checkbox"  name="switch16" id="switch16"><span>
                    <label for="switch16"></label></span>
                    </div>
                </div>
                
            </div>
            <div class="form-group row">
                <label class=" col-md-2 control-label" for="summernote">Content </label>
                <div class="col-md-10">
                    <textarea class="form-control" id="summernote" name="editordata" rows="6" placeholder="Write Descriptions"></textarea>
                </div>
                
            </div>
            <div class="form-group">
                <button (click)="onAddnoFinancialService(form)" class="btn btn-primary btn-space"  type="submit" ><i class="icon s7-mail"></i> Save Changes</button>
                <!-- <button class="btn btn-secondary btn-space" type="button"><i class="icon s7-close"></i> Cancel</button> -->
            </div> 
        </form>
    </div>
</div>