<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModaLabel">Add User Admin</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></a>
            </div>
            <div class="modal-body">
              <form #form="ngForm" novalidate>
                <!-- {{ form.value | json }}
                {{ form.invalid }} {{ hasError }} -->
                <div class="form-group">
                  <label class="col-form-label" for="select">Username</label>
                  <input  type="text" placeholder="UserName"
                    class="form-control form-control-md"
                    name="username"
                    [(ngModel)]="user.userName"
                    #username="ngModel"
                    required
                    [class.is-invalid]="username.invalid && username.touched"
                  >
                  <div *ngIf="username.errors && (username.valid || username.touched)">
                    <p class="text-danger" *ngIf="username?.errors.required">Username is required</p>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="select">Email</label>
                    <input class="form-control" type="text" name="email" required placeholder="E-mail" autocomplete="off"
                    #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched"
                     pattern="^[a-zA-Z0-9-.]+@[a-zA-Z-]+\.[a-zA-Z]{2,6}$">
                    <div *ngIf="email.errors && (email.valid || email.touched)">
                        <p class="text-danger" *ngIf="email.errors?.required">Email is required</p>
                        <p class="text-danger" *ngIf="email.errors?.pattern">Email is invalid</p>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label" for="select">Specific password</label>
                    <input  type="text" placeholder="Password"
                      class="form-control form-control-md"
                      name="password"
                      [(ngModel)]="user.password"
                      #password="ngModel"
                      required
                      [class.is-invalid]="password.invalid && password.touched"
                    >
                    <div *ngIf="password.errors && (password.valid || password.touched)">
                        <p class="text-danger" *ngIf="password?.errors.required">Password is required</p>
                    </div>
                  </div>
                <div class="form-group">
                  <label class="col-form-label" for="select">Privilege Role</label>
                  <select placeholder="Role"
                    class="form-control form-control-md"
                    #role="ngModel"
                    [(ngModel)]="user.role"
                    name="role"
                    required
                    [class.is-invalid]="role.invalid  && role.touched"
                  >
                    <option value="AGENT">Agent</option>
                    <option value="ADMIN">Admin</option>
                  </select>
                  <div *ngIf="role.errors && (role.valid || role.touched)">
                    <p class="text-danger" *ngIf="role?.errors.required">Role is required</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="select">User Level</label>
                  <select placeholder="Level"
                    class="form-control form-control-md"
                    #level="ngModel"
                    [(ngModel)]="user.level"
                    name="role"
                    required
                    [class.is-invalid]="level.invalid  && level.touched"
                  >
                    <option value="none">none</option>
                    <option value="student">student</option>
                  </select>
                  <div *ngIf="level.errors && (level.valid || level.touched)">
                    <p class="text-danger" *ngIf="level?.errors.required">Level is required</p>
                </div>
              </div>
                <div class="form-group">
                  <label class="col-form-label" for="select">User Gender</label>
                  <select placeholder="Gender"
                    class="form-control form-control-md"
                    #gender="ngModel"
                    [(ngModel)]="user.gender"
                    name="gender"
                    required
                    [class.is-invalid]="gender.invalid  && gender.touched"
                  >
                    <option value="man">man</option>
                    <option value="woman">woman</option>
                  </select>
                  <div *ngIf="gender.errors && (gender.valid || gender.touched)">
                    <p class="text-danger" *ngIf="gender?.errors.required">Gender is required</p>
                  </div>

                </div>
                </div>
                <div class="form-group text-right">
                    <button
                      type="button"
                      [disabled]="form.invalid"
                      (click)="onAddUser(form)"
                      class="btn btn-primary"
                    >
                      Save changes
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
