<div class="product-sidebar">
    <div class="product-sidebar-widget">
        <h4 class="mb-0">{{title | uppercase}}</h4>
    </div>
    <div class="product-sidebar-widget">
        <h4 class="product-sidebar-widget-title">Category</h4>
        <ng-container *ngFor="let financial_serv_cat of financial_services_cats">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" value="{{financial_serv_cat.name}}" [(ngModel)]="no_fs.checked" 
                name="checkbox" (ngModelChange)="show_financial_service(financial_serv_cat.name)" 
                class="custom-control-input" >
                <!-- <label class="custom-control-label" for="cat-1"></label> -->
                <span class="custom-control-label">{{financial_serv_cat.name}}</span>
            </label>
        </ng-container>
    </div>
    <div class="product-sidebar-widget"  [class.d-none]="remove_get_started">
        <a [routerLink]="[]" (click)="showForm()" class="btn btn-success">Get Started</a>
    </div>
    <div class="product-sidebar-widget" [class.d-none]="show_form" >
        <form #form="ngForm" novalidate>
            <!-- {{ form.value | json }} -->
             <!--  {{ form.invalid }} {{  }} -->
             <div class="form-group">
               <label class="col-form-label" for="select">Category</label>
               <select 
                 class="form-control #select form-control-md"
                 name="Category"
                 [(ngModel)]="financialService.category" 
                 #category="ngModel"
                 required
                 [class.is-invalid]="category.invalid && category.touched"
               >
                 <option value="Loan">Loan</option>
                 <option value="BankCard">BankCard</option>
               </select>
             </div> 
             <div class="form-group">
                 <label class="col-form-label" for="select">Amount</label>
                 <input type="number" name="amount" class="form-control" 
                 [(ngModel)]="financialService.amount"
                 #amount="ngModel"
                 required
                 [class.is-invalid]="amount.invalid && amount.touched"
                 >
             </div>

             <div class="form-group">
                 <label class="col-form-label" for="select">Interest</label>
                 <input type="number" name="interest" class="form-control" 
                 [(ngModel)]="financialService.interest_pr"
                 #interest_pr="ngModel"
                 required
                 [class.is-invalid]="interest_pr.invalid && interest_pr.touched"
                 >
             </div>

             <div class="form-group">
                 <label class="col-form-label" for="select">Duration</label>
                 <input type="number" name="duration" class="form-control" 
                 [(ngModel)]="financialService.duration"
                 #duration="ngModel"
                 required
                 [class.is-invalid]="duration.invalid && duration.touched"
                 >
             </div>

             <div class="form-group">
                 <label class="col-form-label" for="select">Reimbment Method</label>
                 <select 
                   class="form-control #select form-control-md"
                   name="Reimbment_Method"
                   [(ngModel)]="financialService.reimbment_method"
                   #reimbment_method="ngModel"
                   required
                   [class.is-invalid]="reimbment_method.invalid && reimbment_method.touched"
                 >
                   <option value="Mensuality">Mensuality</option>
                   <option value="Block">Block</option>
                 </select>
               </div>
               
               <div class="form-group">
                <button
                      type="button"
                      [disabled]="form.invalid"
                      (click)="onAddFinancialService(form)"
                      class="btn btn-primary"
                    >
                      Submit 
                    </button>
            </div>
         </form>
    </div>
</div>