<div class="row">
    <div class="col-xl-10">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <app-header></app-header>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
           
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- sidebar nav  -->
    <!-- ============================================================== -->
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        <app-menu></app-menu>
    </div>
    <!-- ============================================================== -->
    <!-- end sidebar nav  -->
    <!-- ============================================================== -->
</div>
