<!-- pageheader  -->
<!-- ============================================================== -->
<app-page-header [title]="pageTitle"></app-page-header>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-inline-block">
                    <h5 class="text-muted">Total Forms</h5>
                    <h2 class="mb-0">{{ listforms?.length }}</h2>
                </div>
                <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                    <i class="fab fa-fw fa-wpforms fa-sm text-primary"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-inline-block">
                    <h5 class="text-muted">Total Ansered</h5>
                    <h2 class="mb-0"> {{ total_answered }}</h2>
                </div>
                <div class="float-right icon-circle-medium  icon-box-lg  bg-success-light mt-1">
                    <i class="fas fa-check fa-fw fa-sm text-success"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-inline-block">
                    <h5 class="text-muted">Total Not Ansered</h5>
                    <h2 class="mb-0"> {{ total_not_answered }}</h2>
                </div>
                <div class="float-right icon-circle-medium  icon-box-lg  bg-danger-light mt-1">
                    <i class="fas fa-ban fa-fw fa-sm text-danger"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h5 class="card-header"><span style="margin-right: 30px;">Form scoring Table</span>
    </h5>

    <div class="card-body border-top" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a  [routerLink]="baseLink+'add'" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add</a>
        </div>
        <div  class="btn-group mr-2" role="group" aria-label="Second group">
            <a  [routerLink]="baseLink+'deit'" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
        </div>
        <div  class="btn-group mr-2" role="group" aria-label="Second group">
            <a  [routerLink]="baseLink+'delete'" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
        </div>
        <div  class="btn-group mr-2" role="group" aria-label="Second group">
            <a  [routerLink]="" (click)="onActualize()" class="btn btn-warning btn-sm"><i class="fas fa-redo"></i></a>
        </div>
        <div id="custom-search" class="mt-3">
          <input class="form-control" type="text" [(ngModel)]="search" name="title" placeholder="Search..">
      </div>
      </div>
     
    <div class="card-body">
        <div class="table-responsive">

        <table class="table table-striped">
            <thead> 
                <tr>
                    <th scope="col"><label class="custom-control custom-checkbox">
                     <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" class="custom-control-input">
                     <span class="custom-control-label"></span>
                      </label></th>
                    <th >Title</th>
                    <th>Description</th>
                    <th>Date of creation</th>
                    <th>Last modification</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr [class.table-primary]="false"  *ngFor="let form of listforms | filter: search | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                    };, let i=index" >
                    <td>
                        <label class="custom-control custom-checkbox">
                        <input type="checkbox" value="{{form.id_scoreForm}}" [(ngModel)]="listforms[i].checked" class="custom-control-input">
                        <span class="custom-control-label"></span>
                        </label>
                    </td>
                    <td>
                        <div id="headingSeven">
                            <h5 class="mb-0">
                               <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseSeven'+form.id_scoreForm" aria-expanded="true" [attr.aria-controls]="'collapseSeven'+form.id_scoreForm">
                                 <span class="fas fa-angle-down mr-1"></span>{{ form.title }}
                               </button>
                              </h5>
                        </div>
                        <div [attr.id]="'collapseSeven'+form.id_scoreForm" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion3">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead> 
                                        <tr>
                                            <th>Question</th>
                                            <th>Points</th>
                                            <th>Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [class.table-primary]="false"  *ngFor="let question of form.questions | filter: search | paginate
                                        : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count
                                            };, let i=index" >
                                            <td> 
                                                <div id="headingSeven">
                                                    <h5 class="mb-0">
                                                       <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseSeven'+question.id_scoreQuestion" aria-expanded="true" [attr.aria-controls]="'collapseSeven'+question.id_scoreQuestion">
                                                         <span class="fas fa-angle-down mr-1"></span>{{ question.description }}
                                                       </button>
                                                      </h5>
                                                </div>
                                                <div [attr.id]="'collapseSeven'+question.id_scoreQuestion" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion3">
                                                    <div class="card-body">
                                                        <table class="table table-striped">
                                                            <thead> 
                                                                <tr>
                                                                    <th>Proposition (s)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr [class.table-primary]="false"  *ngFor="let proposition of question.propositions | filter: search | paginate
                                                                : {
                                                                    itemsPerPage: tableSize,
                                                                    currentPage: page,
                                                                    totalItems: count
                                                                    };, let i=index">
                                                                    <td>{{ proposition.description }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                            <td> {{ question.points }}</td>
                                            <td>{{ question.answer.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
    
                    </td>
                    <td>{{ form.description }}</td>
                    <td>{{ form.created_at }}</td>
                    <td>{{ form.lastUpdated_at }}</td>
                    <td>
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle  card-drop" data-toggle="dropdown" aria-expanded="true">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a [routerLink]="[baseLink+'edit-form',form.id_scoreForm]" class="dropdown-item"><i class="fas fa-edit"></i> Edit</a>
                                <!-- item-->
                                <a href="javascript:void(0);" (click)="onDeleteScoreForm(form.id_scoreForm)" class="dropdown-item"><i class="fas fa-trash"></i> Delete</a>
                            
                            </div>
                        </div>
                    </td>  
                </tr>

            </tbody>
        </table>
        
    </div>
    
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
    </div>
</div>

<div class="card">
    <h5 class="card-header"><span style="margin-right: 30px;">Responses scoring Table</span>
    </h5>

    <div class="card-body border-top" role="toolbar" aria-label="Toolbar with button groups">
        <div  class="btn-group mr-2" role="group" aria-label="Second group">
            <a  [routerLink]="baseLink+'delete'" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
        </div>
        <div  class="btn-group mr-2" role="group" aria-label="Second group">
            <a  [routerLink]="" (click)="onActualize()" class="btn btn-warning btn-sm"><i class="fas fa-redo"></i></a>
        </div>
        <div id="custom-search" class="mt-3">
          <input class="form-control" type="text" [(ngModel)]="searchresponse" name="title" placeholder="Search..">
      </div>
      </div>
     
    <div class="card-body">
        <div class="table-responsive">

        <table class="table table-striped">
            <thead> 
                <tr>
                    <th scope="col"><label class="custom-control custom-checkbox">
                     <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" class="custom-control-input">
                     <span class="custom-control-label"></span>
                      </label></th>
                    <th >Username</th>
                    <th>Form</th>
                    <th>Score</th>
                    <th>Total</th>
                    <th>Date of creation</th>
                    <th>Approved</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr [class.table-primary]="false"  *ngFor="let response of listresponses | filter: searchresponse | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                    };, let i=index" >
                    <td>
                        <label class="custom-control custom-checkbox">
                        <input type="checkbox" value="{{response.id_response}}" [(ngModel)]="listresponses[i].checked" class="custom-control-input">
                        <span class="custom-control-label"></span>
                        </label>
                    </td>
                    <td>{{ response.user.userName }}</td>
                    <td>{{ response.form.title }}</td>
                    <td>{{ response.score }}</td>
                    <td>{{ response.total }}</td>
                    <td>{{ response.response_date }}</td>
                    <ng-container [ngSwitch]="response.approved">
                        <td *ngSwitchCase="true"><span class="badge badge-success">Yes</span></td>
                        <td *ngSwitchCase="false"><span class="badge badge-danger">No</span></td>
                    </ng-container>
                    
                    <td>
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle  card-drop" data-toggle="dropdown" aria-expanded="true">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0);" (click)="ondeleteAnyResponse(response.id_response)" class="dropdown-item"><i class="fas fa-trash"></i> Delete</a>
                            </div>
                        </div>
                    </td>  
                </tr>
            </tbody>
        </table>  
    </div>  
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
    </div>
</div>
  
  