<div class="sidebar-nav-fixed">
    <ul class="list-unstyled">
        <li><a routerLinkActive="active" [routerLink]="['/client-space','my-profile']">My profile</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','my-account']">My account</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','notifications']">Notifications</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','transactions']" class="">Transactions</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','financial-services']">Financial Services</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','claims']">Claims</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/client-space','payments']">Payments</a></li>
    </ul>
</div>